body {
    font-family: 'Lumanosimo', cursive;
}

body {

background-image: url(anime-naruto-naruko-uzumaki-wallpaper-preview.jpg);
background-size: cover;
background-repeat: no-repeat;



}